

<!-- Footer -->
<footer class="page-footer font-small elegant-color">

  <!-- Footer Links
  <div class="container text-center text-md-left pt-4 pt-md-5">
    <div class="row mt-1 mt-md-0 mb-4 mb-md-0">


      <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">

        <h5>SERVICES AND GUARANTEES</h5>
        <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">

        <ul class="list-unstyled">
          <li>
            <a href="#!"></a>
          </li>
          <li>
          <a href="#!">Order tracking by SMS</a>
          </li>
          <li>
            <a href="#!">My Customer Area</a>
          </li> <a href="#!">Guarantees and insurance</a>
          <li>
            <a href="#!">Our shops</a>
          </li>
        </ul>

      </div>


      <hr class="clearfix w-100 d-md-none">


      <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">


        <h5>DELIVERY AND PAYMENT</h5>
        <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">

        <ul class="list-unstyled">
          <li>
            <a href="#!">Delivery methods and costs</a>
          </li>
          <li>
            <a href="#!">International delivery</a>
          </li>
          <li>
            <a href="#!">Payment methods</a>
          </li>
          <li>
            <a href="#!">Secure payment</a>
          </li>
        </ul>

      </div>


      <hr class="clearfix w-100 d-md-none">

     <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">


        <h5>CONTACT US</h5>
        <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">

        <ul class="list-unstyled">
          <li>
            <a href="#!">Contact Customer Service</a>
          </li>
          <li>
            <a href="#!">Advertising Contact</a>
          </li>
          <li>
            <a href="#!">Cdiscount Dropshipping</a>
          </li>
          <li>
            <a href="#!">Contact Professionals</a>
          </li>
        </ul>

      </div>


   </div>
 </div>


 Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#"> HealthProgress.com</a>
  </div>
  <!-- Copyright -->

  </footer>
  <!-- Footer -->
