footer {
  flex-shrink: 0;
  border-top: 1px dashed #000;
  width: 100%;
  background: #f1f1f1;
  color: #333;
}
.contenu-footer {
  width: 1200px;
  margin: 0 auto;

  font-size: 20px;
  padding: 50px 0 100px;
}
