<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="profil">Profil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="products">Products</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="myproducts">My Products</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-danger" routerLink="logout">Logout</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<!--<header id="header">
  <div id="mega-menu" class="header header2 header-sticky primary-menu icons-no default-skin zoomIn align-right">
    <nav class="navbar navbar-default redq">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">
        <img src="assets/img/logo-dark.png" alt="logo">
        </a>
      </div>
      <div class="collapse navbar-collapse" id="navbar">
        <a class="mobile-menu-close"><i class="fa fa-close"></i></a>
        <div class="menu-top-menu-container">
          <ul id="menu-top-menu" class="nav navbar-nav nav-list">
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#pricing">Pricing</a></li>
            <li><a href="#blog">Blog</a></li>
            <li><a href="#contact">Contact</a></li>
            <li style="background: rgba(255, 255, 0, 0.51);"><a target="_blank" href="https://www.wowthemes.net/themes/expertum/">WP Version</a></li>
          </ul>
        </div>
      </div>

    </div>

    </nav>
  </div>
  </header>
<section id="about" class="whitetext" style="padding:60px;background-color:#50dcc9;" >
	<div class="container">
		<div class="so-widget-sow-headline">
			<div class="sow-headline">
				<h1 class="whitetext">YOUR EXPERTS SINCE 1997</h1>
			</div>
		</div>
		<br/>
		<div class="w960 text-center">
		<p>
			 Praesent vestibulum aenean nonummy hendrerit mauris. Cum sociis natoque penatibus et magnis dis parturient montes ascetur ridiculusmus. Nulla dui. Fusce feugiat. Praesent vestibulum aenean nonummy hendrerit mauris. Cum sociis natoque penatibus et magnis dis parturient montes.
		</p>
		<p>
			Fusce feugiat Praesent vestibulum aenean nonummy hendrerit mauris. Cum sociis natoque penatibus et magnis dis parturient montes ascetur ridiculusmus. Nulla dui. Fusce feugiat. Fusce feugiat Praesent vestibulum aenean nonummy hendrerit mauris. Cum sociis natoque penatibus et magnis dis parturient montes ascetur ridiculusmus. Nulla dui. Fusce feugiat.
		</p>
		<p>
			Praesent vestibulum aenean nonummy hendrerit mauris. Cum sociis natoque penatibus et magnis dis parturient montes ascetur ridiculusmus. Nulla dui. Fusce feugiat. Fusce feugiat Praesent vestibulum aenean nonummy hendrerit mauris. Cum sociis natoque penatibus et magnis dis parturient montes ascetur ridiculusmus.
		</p>
		</div>
	</div>

</section>
<h1>ATTRIBUTION</h1>
This resource is copyrighted &copy; <a href="https://www.wowthemes.net">WowThemes.net</a>.
<h1>LICENSE & TERMS OF USE</h1>
Read the license to learn how you can legally use this item.
<div style="text-align:left;background:#fff;padding:30px 0;margin-top:0px;"><a class="btn orange" href="http://www.wowthemes.net/freebies-license/">Read License</a> <a class="btn" href="https://www.wowthemes.net/category/free-themes-templates/">Get More Freebies</a> <a class="btn" href="https://www.wowthemes.net/">Our Premium Themes</a>
</div>
<section id="pricing" class="margintop60 ow-pt-columns-atom">
	<div class="container">
		<div class="sow-headline">
			<h1><b>PRICING</b></h1>
		</div>
		<br/>

		<div class="col-md-4 ow-pt-column ow-pt-first ow-pt-even">
			<div class="ow-pt-title">
				 EXPERTUM THEME
				<div class="ow-pt-subtitle">
					One Page WordPress
				</div>
			</div>
			<div class="ow-pt-details">
				<div class="ow-pt-price">
					$35
				</div>
				<div class="ow-pt-per">
					One Time
				</div>
			</div>
			<div class="ow-pt-features">
				<div class="ow-pt-feature ow-pt-feature-even">
					<span class="sow-icon-fontawesome" data-sow-icon="&#xf00c;"></span>
					<p>
						 Wordpress Theme
					</p>
				</div>
				<div class="ow-pt-feature ow-pt-feature-odd">
					<span class="sow-icon-fontawesome" data-sow-icon="&#xf00c;"></span>
					<p>
						 One Page
					</p>
				</div>
				<div class="ow-pt-feature ow-pt-feature-even">
					<span class="sow-icon-fontawesome" data-sow-icon="&#xf00c;"></span>
					<p>
						 Page Builder
					</p>
				</div>
			</div>
			<div class="ow-pt-button">
				<a href='https://www.wowthemes.net/themes/expertum/' class="ow-pt-link">Buy Now</a>
			</div>
		</div>


		<div class="col-md-4 ow-pt-column ow-pt-featured ow-pt-odd">
			<div class="ow-pt-title">
				 ALL THEMES PACKAGE
				<div class="ow-pt-subtitle">
					by WowThemes.net
				</div>
			</div>
			<div class="ow-pt-details">
				<div class="ow-pt-price">
					$89
				</div>
				<div class="ow-pt-per">
					Per Year
				</div>
			</div>
			<div class="ow-pt-features">
				<div class="ow-pt-feature ow-pt-feature-even">
					<span class="sow-icon-fontawesome" data-sow-icon="&#xf00c;"></span>
					<p>
						 Yours Forever
					</p>
				</div>
				<div class="ow-pt-feature ow-pt-feature-odd">
					<span class="sow-icon-fontawesome" data-sow-icon="&#xf00c;"></span>
					<p>
						 1 Year Support
					</p>
				</div>
				<div class="ow-pt-feature ow-pt-feature-even">
					<span class="sow-icon-fontawesome" data-sow-icon="&#xf00c;"></span>
					<p>
						 1 Year Updates
					</p>
				</div>
				<div class="ow-pt-feature ow-pt-feature-odd">
					<span class="sow-icon-fontawesome" data-sow-icon="&#xf00c;"></span>
					<p>
						 All Themes
					</p>
				</div>
			</div>
			<div class="ow-pt-button">
				<a target="_blank" href='https://www.wowthemes.net/themes/all-themes-package/' class="ow-pt-link">Join Membership</a>
			</div>
		</div>

		<div class="col-md-4 ow-pt-column ow-pt-last ow-pt-even">
		<div class="ow-pt-title">
				 EXPERTUM THEME
				<div class="ow-pt-subtitle">
					One Page WordPress
				</div>
			</div>
			<div class="ow-pt-details">
				<div class="ow-pt-price">
					$35
				</div>
				<div class="ow-pt-per">
					One Time
				</div>
			</div>
			<div class="ow-pt-features">
				<div class="ow-pt-feature ow-pt-feature-even">
					<span class="sow-icon-fontawesome" data-sow-icon="&#xf00c;"></span>
					<p>
						 Wordpress Theme
					</p>
				</div>
				<div class="ow-pt-feature ow-pt-feature-odd">
					<span class="sow-icon-fontawesome" data-sow-icon="&#xf00c;"></span>
					<p>
						 One Page
					</p>
				</div>
				<div class="ow-pt-feature ow-pt-feature-even">
					<span class="sow-icon-fontawesome" data-sow-icon="&#xf00c;"></span>
					<p>
						 Page Builder
					</p>
				</div>
			</div>
			<div class="ow-pt-button">
				<a href='https://www.wowthemes.net/themes/expertum/' class="ow-pt-link">Buy Now</a>
			</div>
		</div>
	</div>
</section>-->
