<div class="container"><h1 style="text-align: center;color:black;font-family:Vladimir Script"><img src="assets/logo.png" alt="" style="width: 100px;height: 100px;"> Hello Admin  Health Progress </h1>  
                 <br>
                 <br>
           <div class="row">
             <div class="col-lg-3">
                <div id="sideBar">
                
                    <div class="card" style="width: 18rem; cursor: pointer; margin-left: 60px; " routerLink="/home">
    
                      <img class="card-img-top img-thumbnail" src="https://upload.wikimedia.org/wikipedia/commons/5/55/User-admin-gear.svg" alt="Card image cap">
                   </div>
                    <h3 style="margin: 18px 0 -12px 15px;">Quizz</h3>
                    <hr>
    
                       <div style="padding: 16px;">
                          <div class="card" id="theme">
    
                            <div class="list-group">
                              <button type="button" class="list-group-item list-group-item-action active" style="cursor: default;">
                               Thèmes
                              </button>
                              <button type="button" class="list-group-item list-group-item-action active"
                              style="text-align: center;" >Ajouter un thème</button>
                            </div>
    
    
                          </div>
                       </div>
    
                        <h3 style="margin: 18px 0 -12px 15px;">Patients</h3>
                        <hr>
    
                        <div style="padding: 16px;">
                          <div class="card" id="theme">
    
                           <div class="list-group">
                              <button type="button" class="list-group-item list-group-item-action active" style="cursor: default;">
                              Les Patients
                              </button>
                              <button type="button" class="list-group-item list-group-item-action active"
                              style="text-align: center;" >Afficher les  patients</button>
                           </div>
                         </div>
                       </div>
                       <h3 style="margin: 18px 0 -12px 15px;">Medecin</h3>
                       <hr>
    
                         <div style="padding: 16px;">
                            <div class="card" id="theme">
    
                              <div class="list-group">
                                <button type="button" class="list-group-item list-group-item-action active" style="cursor: default;">
                                 Les medecin 
                                </button>
                                <button type="button" class="list-group-item list-group-item-action active"
                                style="text-align: center;" >Afficher les medecins </button>
                              </div>
                           </div>
                         </div>
                         <button type="button" class="btn btn-outline-danger" style="margin-left: 20px;">Deconnecter</button>
    
                </div>
             </div>
             <div class="col">
                <div class="pad" style="padding-top: 45%;">
                  <h3>liste de nos patients</h3>
                  <div *ngFor="let patient of patients">
                   <div>{{patient.name}}</div>
                  </div>
                  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
                  <div class="container bootstrap snippets bootdey">
                      <div class="row">
                          <div class="col-lg-12">
                              <div class="panel panel-default">
                                  <div class="panel-body p-t-0">
                                      <div class="input-group">
                                          <input type="text" id="example-input1-group2" name="example-input1-group2" class="form-control" placeholder="Search">
                                          <span class="input-group-btn">
                                              <button type="button" class="btn btn-effect-ripple btn-primary"><i class="fa fa-search"></i></button>
                                          </span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      
                      <div class="row" style="padding: 5%;">
                          <div class="col-sm-6">
                              <div class="panel">
                                  <div class="panel-body p-t-10">
                                      <div class="media-main">
                                          <a class="pull-left" href="#">
                                              <img class="thumb-lg img-circle bx-s" src="https://bootdey.com/img/Content/user_1.jpg" alt="">
                                          </a>
                                          <div class="pull-right btn-group-sm">
                                              <a href="#" class="btn btn-success tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit">
                                                  <i class="fa fa-pencil"></i>
                                              </a>
                                              <a href="#" class="btn btn-danger tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete">
                                                  <i class="fa fa-close"></i>
                                              </a>
                                          </div>
                                          <div class="info">
                                              <h4>Jonathan Smith</h4>
                                              <p class="text-muted">Graphics Designer</p>
                                          </div>
                                      </div>
                                      <div class="clearfix"></div>
                                      <hr>
                                      <ul class="social-links list-inline p-b-10">
                                          
                                          <li>
                                              <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Message"><i class="fa fa-envelope-o"></i></a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                  
                          
                          <div class="col-sm-6">
                              <div class="panel">
                                  <div class="panel-body p-t-10">
                                      <div class="media-main">
                                          <a class="pull-left" href="#">
                                              <img class="thumb-lg img-circle bx-s" src="https://bootdey.com/img/Content/user_2.jpg" alt="">
                                          </a>
                                          <div class="pull-right btn-group-sm">
                                              <a href="#" class="btn btn-success tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit">
                                                  <i class="fa fa-pencil"></i>
                                              </a>
                                              <a href="#" class="btn btn-danger tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete">
                                                  <i class="fa fa-close"></i>
                                              </a>
                                          </div>
                                          <div class="info">
                                              <h4>Jonathan Smith</h4>
                                              <p class="text-muted">Graphics Designer</p>
                                          </div>
                                      </div>
                                      <div class="clearfix"></div>
                                      <hr>
                                      <ul class="social-links list-inline p-b-10">
                                          
                                          <li>
                                              <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Message"><i class="fa fa-envelope-o"></i></a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                  
                  
                          <div class="col-sm-6">
                              <div class="panel">
                                  <div class="panel-body p-t-10">
                                      <div class="media-main">
                                          <a class="pull-left" href="#">
                                              <img class="thumb-lg img-circle bx-s" src="https://bootdey.com/img/Content/user_3.jpg" alt="">
                                          </a>
                                          <div class="pull-right btn-group-sm">
                                              <a href="#" class="btn btn-success tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit">
                                                  <i class="fa fa-pencil"></i>
                                              </a>
                                              <a href="#" class="btn btn-danger tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete">
                                                  <i class="fa fa-close"></i>
                                              </a>
                                          </div>
                                          <div class="info">
                                              <h4>Jonathan Smith</h4>
                                              <p class="text-muted">Graphics Designer</p>
                                          </div>
                                      </div>
                                      <div class="clearfix"></div>
                                      <hr>
                                      <ul class="social-links list-inline p-b-10">
                                          
                                          <li>
                                              <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Message"><i class="fa fa-envelope-o"></i></a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                  
                  
                          <div class="col-sm-6">
                              <div class="panel">
                                  <div class="panel-body p-t-10">
                                      <div class="media-main">
                                          <a class="pull-left" href="#">
                                              <img class="thumb-lg img-circle bx-s" src="https://bootdey.com/img/Content/user_1.jpg" alt="">
                                          </a>
                                          <div class="pull-right btn-group-sm">
                                              <a href="#" class="btn btn-success tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit">
                                                  <i class="fa fa-pencil"></i>
                                              </a>
                                              <a href="#" class="btn btn-danger tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete">
                                                  <i class="fa fa-close"></i>
                                              </a>
                                          </div>
                                          <div class="info">
                                              <h4>Jonathan Smith</h4>
                                              <p class="text-muted">Graphics Designer</p>
                                          </div>
                                      </div>
                                      <div class="clearfix"></div>
                                      <hr>
                                      <ul class="social-links list-inline p-b-10">
                                          
                                          <li>
                                              <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Message"><i class="fa fa-envelope-o"></i></a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                  
                  
                          <div class="col-sm-6">
                              <div class="panel">
                                  <div class="panel-body p-t-10">
                                      <div class="media-main">
                                          <a class="pull-left" href="#">
                                              <img class="thumb-lg img-circle bx-s" src="https://bootdey.com/img/Content/user_2.jpg" alt="">
                                          </a>
                                          <div class="pull-right btn-group-sm">
                                              <a href="#" class="btn btn-success tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit">
                                                  <i class="fa fa-pencil"></i>
                                              </a>
                                              <a href="#" class="btn btn-danger tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete">
                                                  <i class="fa fa-close"></i>
                                              </a>
                                          </div>
                                          <div class="info">
                                              <h4>Jonathan Smith</h4>
                                              <p class="text-muted">Graphics Designer</p>
                                          </div>
                                      </div>
                                      <div class="clearfix"></div>
                                      <hr>
                                      <ul class="social-links list-inline p-b-10">
                                          
                                          <li>
                                              <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Message"><i class="fa fa-envelope-o"></i></a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                  
                  
                          <div class="col-sm-6">
                              <div class="panel">
                                  <div class="panel-body p-t-10">
                                      <div class="media-main">
                                          <a class="pull-left" href="#">
                                              <img class="thumb-lg img-circle bx-s" src="https://bootdey.com/img/Content/user_3.jpg" alt="">
                                          </a>
                                          <div class="pull-right btn-group-sm">
                                              <a href="#" class="btn btn-success tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit">
                                                  <i class="fa fa-pencil"></i>
                                              </a>
                                              <a href="#" class="btn btn-danger tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete">
                                                  <i class="fa fa-close"></i>
                                              </a>
                                          </div>
                                          <div class="info">
                                              <h4>Jonathan Smith</h4>
                                              <p class="text-muted">Graphics Designer</p>
                                          </div>
                                      </div>
                                      <div class="clearfix"></div>
                                      <hr>
                                      <ul class="social-links list-inline p-b-10">
                                          
                                          <li>
                                              <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Message"><i class="fa fa-envelope-o"></i></a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>                                                                  


                </div>
                






             </div>
             <div class="col-lg-9">
               <router-outlet></router-outlet>
             </div>
           </div>
             
</div>
